body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  margin-bottom: 20px;
}
.form-container {
  margin-top: 20px;
}
.center-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.password-container {
  position: relative;
}
.password-container input {
  padding-right: 30px;
}
.password-container .toggle-password1 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-container .toggle-password2 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
body {
  background-color: #f7f9fc;
  color: #34495e;
}
.navbar {
  background-color: #2c3e50;
}
.navbar-brand,
.nav-link,
.btn-outline-light {
  color: #ecf0f1 !important;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #bdc3c7 !important;
}
.btn-primary {
  background-color: #2980b9;
  border-color: #2980b9;
}
.btn-primary:hover {
  background-color: #1c6690;
  border-color: #1c6690;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}
.list-group-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.form-control {
  border-radius: 0.25rem;
  border: 1px solid #dddddd;
}
.form-container {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.modal-content {
  background-color: #ffffff;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-title {
  color: #e67e22;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.eyeIcon1,
.eyeIcon2 {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(57,56,60,255) inset !important;
  -webkit-text-fill-color: #d1d1d1 !important;
}
