 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(38,38,43,0.3), rgba(38,38,43,0.3)), url('../images/ol-bc.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-form-1 {
  height: 385px;
  background-image: none;
  --radius: 10px;
  box-shadow: 1px 0px 40px 3px rgba(86,85,94,1);
  width: 700px;
  margin: 175px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --radius: 10px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 591px;
  background-image: none;
  --radius: 10px;
  box-shadow: 1px 0px 40px 3px rgba(86,85,94,1);
  width: 700px;
  margin: -385px auto 60px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  --radius: 10px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }
}