 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(38,38,43,0.3), rgba(38,38,43,0.3)), url('../images/ol-bc.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-form-1 {
  height: 385px;
  background-image: none;
  --radius: 10px;
  box-shadow: 1px 0px 40px 3px rgba(86,85,94,1);
  width: 700px;
  margin: 175px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --radius: 10px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 591px;
  background-image: none;
  --radius: 10px;
  box-shadow: 1px 0px 40px 3px rgba(86,85,94,1);
  width: 700px;
  margin: -385px auto 60px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  --radius: 10px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }
}




.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-header .close {
  cursor: pointer;
  font-size: 20px;
  color: #721c24;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}