<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" media="screen">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link id="u-theme-google-font"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" />
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "EventoSphere"
    }</script>
  <meta name="theme-color" content="#89b2d8">
  <meta property="og:title" content="logged">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-transparent u-xl-mode" data-lang="tr">
  <header class="u-align-center-xs u-clearfix u-header u-clearfix u-sheet u-sheet-1" id="sec-75b6">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="/index">
        <img class="u-image u-image-contain u-image-default u-image-1" src="./static/images/namelogo.png" alt="" data-image-width="757" data-image-height="114">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link u-border-2 u-button-style u-nav-link u-radius u-text-grey-10" href="/dashboard">{{ user.name }} {{ user.surname }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10" href="/myPosts" type="submit">Postlarım</a>
          </li>
          <li class="nav-item">
            <a class="nav-link u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10" href="/payment" type="submit">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10" style="color: rgb(185, 36, 36) !important;" href="/logout" type="submit">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="u-clearfix u-image u-section-1" id="carousel_6500" data-image-width="1920" data-image-height="1080">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-sheet-1">
      <a onclick="smoothScroll('#sec-91be')" class="u-border-hover-black u-border-none u-btn u-btn-round u-button-style u-custom-color-19 u-radius u-text-black u-text-hover-black u-btn-1">Planlamaya Başla&nbsp;<span class="u-file-icon u-icon u-icon-1"><img src="./static/images/271228.png" alt=""></span>
      </a>
    </div>
  </section>

  <section class="skrollable u-align-center u-clearfix u-image u-parallax u-shading u-section-2" src="" id="carousel_7179" data-image-width="1920" data-image-height="839">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-75 u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h4 class="u-align-left u-hover-feature u-text u-text-1">Kullanıcı Dostu Etkinlik Planlama</h4>
              <p class="u-align-left u-hover-feature u-text u-text-2">Kullanıcı dostu arayüzümüz sayesinde etkinliklerinizi kolayca planlayın ve düzenleyin.</p>
              <a href="#" class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">Keşfet</a>
            </div>
          </div>
          <div class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-align-left u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-50 u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <h4 class="u-align-left u-hover-feature u-text u-text-3">Yapay Zeka Destekli Etkinlik Planlama</h4>
              <p class="u-align-left u-hover-feature u-text u-text-4">Yapay zeka destekli araçlarımızla etkinlik detaylarını otomatik olarak oluşturun.</p>
              <a href="#" class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">AI Özelliklerini Keşfet</a>
            </div>
          </div>
          <div class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-75 u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <h4 class="u-align-left u-hover-feature u-text u-text-5">LinkedIn Entegrasyonu ile Paylaşım</h4>
              <p class="u-align-left u-hover-feature u-text u-text-6">Etkinliklerinizi doğrudan LinkedIn hesabınızdan paylaşarak daha geniş bir kitleye ulaşın.</p>
              <a href="#" class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="">Bağlantınızı Kurun</a>
            </div>
          </div>
        </div>
      </div>
      </p>
    </div>
  </section>

  <section class="skrollable u-align-center u-clearfix u-image u-parallax u-shading u-section-3" id="sec-91be" data-image-width="1920" data-image-height="1280">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info mt-3" id="flash-messages" style="width: fit-content;">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-border-1 u-border-custom-color-1 u-form u-radius u-form-1">
        <form action="/createEventFromIndex" class="u-clearfix u-form-spacing-17 u-form-vertical u-inner-form" name="form" style="padding: 50px;" method="POST">
          <div class="u-form-group u-form-group-1">
            <label for="etkinlikAdi" class="u-label">Etkinlik Adı</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikAdi" name="etkinlikAdi" class="u-custom-color-17 u-input u-input-rectangle">
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikAdi" onclick="toggleInput('etkinlikAdi', 'ai_fill_etkinlikAdi')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-2">
            <label for="etkinlikKonusu" class="u-label">Etkinlik Konusu</label>
            <div class="input-group">
              <input type="text" id="etkinlikKonusu" name="etkinlikKonusu" class="u-custom-color-17 u-input u-input-rectangle" required="required">
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikKonusu" onclick="toggleInput('etkinlikKonusu', 'ai_fill_etkinlikKonusu')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-3">
            <label for="etkinlikAmaci" class="u-label">Etkinlik Amacı</label>
            <div class="input-group">
              <input type="text" id="etkinlikAmaci" name="etkinlikAmaci" class="u-custom-color-17 u-input u-input-rectangle" required="required">
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikAmaci" onclick="toggleInput('etkinlikAmaci', 'ai_fill_etkinlikAmaci')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-4">
            <label for="etkinlikHedefKitle" class="u-label">Etkinlik Hedef Kitle</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikHedefKitle" name="etkinlikHedefKitle" class="u-custom-color-17 u-input u-input-rectangle" required="required">
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikHedefKitle" onclick="toggleInput('etkinlikHedefKitle', 'ai_fill_etkinlikHedefKitle')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="etkinlikPlatformu" class="u-label">Etkinlik Platformu</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikPlatformu" name="etkinlikPlatformu" class="u-custom-color-17 u-input u-input-rectangle" required="required">
            </div>
          </div>
          <div class="u-form-group u-form-group-6">
            <label for="etkinlikKatilimcilari" class="u-label">Etkinlik Katılımcıları</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikKatilimcilari" name="etkinlikKatilimcilari" class="u-custom-color-17 u-input u-input-rectangle" required="required">
            </div>
          </div>
          <div class="u-form-group u-form-group-7">
            <label for="etkinlikModeratoru" class="u-label">Etkinlik Moderatörü</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikModeratoru" name="etkinlikModeratoru" class="u-custom-color-17 u-input u-input-rectangle">
            </div>
          </div>
          <div class="u-form-group u-form-group-8">
            <label for="etkinlikSponsorlari" class="u-label">Etkinlik Sponsorları / Ortakları</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikSponsorlari" name="etkinlikSponsorlari" class="u-custom-color-17 u-input u-input-rectangle" required="required">
            </div>
          </div>
          <div class="u-form-group u-form-group-9">
            <label for="etkinlikSosyalMedyaTagleri" class="u-label">Etkinlik Sosyal Medya Tagleri</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikSosyalMedyaTagleri" name="etkinlikSosyalMedyaTagleri" class="u-custom-color-17 u-input u-input-rectangle" required="required">
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikSosyalMedyaTagleri" onclick="toggleInput('etkinlikSosyalMedyaTagleri', 'ai_fill_etkinlikSosyalMedyaTagleri')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-10">
            <label for="etkinlikTarihiVeSaati" class="u-label">Etkinlik Tarihi ve Saati</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikTarihiVeSaati" name="etkinlikTarihiVeSaati" class="u-custom-color-17 u-input u-input-rectangle" required="required">
            </div>
          </div>
          <div class="u-form-group u-form-textarea u-form-group-11">
            <label for="etkinlikDetaylari" class="u-label">Etkinlik Hakkında Detaylar</label>
            <div class="input-group">
              <textarea rows="4" cols="50" id="etkinlikDetaylari" name="etkinlikDetaylari" class="u-custom-color-17 u-input u-input-rectangle" required=""></textarea>
              <div class="input-group-append">
                <label class="custom-checkbox">
                  <input type="checkbox" id="ai_fill_etkinlikDetaylari" onclick="toggleInput('etkinlikDetaylari', 'ai_fill_etkinlikDetaylari')">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-12">
            <label for="etkinlikKayitKatilim" class="u-label">Etkinlik Kayıt-Katılım</label>
            <div class="input-group">
              <input type="text" placeholder="" id="etkinlikKayitKatilim" name="etkinlikKayitKatilim" class="u-custom-color-17 u-input u-input-rectangle" required="required">
            </div>
          </div>
          <div class="button-container">
            <button type="submit" class="btn btn-primary" name="create_event_button">Post Oluştur</button>
          </div>
          <input type="hidden" id="scrollPosition" name="scrollPosition" value="{{ scroll_position }}">
        </form>
      </div>
    </div>
  </section>

  <section
    class="u-align-center u-clearfix u-container-align-center-sm u-container-align-center-xs u-container-align-left-xxl u-image u-shading u-section-5"
    id="carousel_2033" data-image-width="2940" data-image-height="1960">
    <div class="u-clearfix u-sheet u-valign-middle-xxl u-sheet-1">
      <h1 class="u-align-center u-text u-text-palette-3-base u-text-1" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="0">PAKET FİYATLANDIRMALARI </h1>
      <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-center u-black u-container-style u-layout-cell u-left-cell u-opacity u-opacity-45 u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <div
                  class="u-align-center u-container-align-center-xs u-container-style u-custom-color-1 u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                  <div
                    class="u-container-layout u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                    <h5 class="u-align-center-xs u-text u-text-2">FREE </h5>
                    <h2 class="u-align-center-xs u-text u-text-3">$ 0</h2>
                  </div>
                </div>
                <p class="u-text u-text-4">1 Tam Etkinlik Planlama<br>10 Etkinlik Parçası Düzenleme<br>1 Etkinlik
                  Paylaşımı<br>(Yalnızca Linkedin)
                </p>
                <a href="#"
                  class="u-border-2 u-border-custom-color-2 u-btn u-btn-round u-button-style u-custom-color-3 u-hover-palette-3-base u-radius u-btn-1"
                  target="_blank">satın al </a>
              </div>
            </div>
            <div
              class="u-align-center u-black u-container-style u-layout-cell u-opacity u-opacity-45 u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-3">
                <div
                  class="u-align-center u-container-align-center-xs u-container-style u-custom-color-3 u-expanded-width u-group u-group-2">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                    <h5 class="u-align-center-xs u-text u-text-5">Standart</h5>
                    <h2 class="u-align-center-xs u-text u-text-6">$ 30</h2>
                  </div>
                </div>
                <p class="u-text u-text-7"> 10 Tam Etkinlik Planlama<br>100 Etkinlik Parçası Düzenleme<br>10 Etkinlik
                  Paylaşımı<br>Etkinliğinize özgü görsel tasarlatma
                </p>
                <a href="#"
                  class="u-border-2 u-border-custom-color-2 u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-1 u-radius u-btn-2"
                  target="_blank"> satın al </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-custom-color-11 u-footer u-footer" id="sec-9346">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">© 2024 EventoSphere. Tüm Hakları Saklıdır.</p>
    </div>
  </footer>
</body>
<script>
  function smoothScroll(target) {
    var targetPosition = document.querySelector(target).offsetTop;
    var startPosition = window.pageYOffset;
    var distance = targetPosition - startPosition;
    var startTime = null;
    var duration = 1000; // animasyon süresi (milisaniye cinsinden)

    function animation(currentTime) {
      if (startTime === null) startTime = currentTime;
      var timeElapsed = currentTime - startTime;
      var run = ease(timeElapsed, startPosition, distance, duration);
      window.scrollTo(0, run);
      if (timeElapsed < duration) requestAnimationFrame(animation);
    }

    function ease(t, b, c, d) {
      t /= d / 2;
      if (t < 1) return c / 2 * t * t + b;
      t--;
      return -c / 2 * (t * (t - 2) - 1) + b;
    }

    requestAnimationFrame(animation);
  }

  function toggleInput(inputId, checkboxId) {
    var input = document.getElementById(inputId);
    var checkbox = document.getElementById(checkboxId);
    if (checkbox.checked) {
      input.value = 'AI ile doldurulacak';
      input.readOnly = true;
    } else {
      input.value = '';
      input.readOnly = false;
    }
  }

  function saveScrollPosition() {
    document.getElementById('scrollPosition').value = window.pageYOffset;
  }

  window.onload = function() {
    const scrollPosition = document.getElementById('scrollPosition').value;
    if (scrollPosition) {
      window.scrollTo(0, scrollPosition);
    }

    const flashMessages = document.getElementById('flash-messages');
    if (flashMessages) {
      flashMessages.scrollIntoView({ behavior: 'smooth' });
    }
  }
</script>

</html>
