<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oluşturulan Post</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
      media="screen"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #f8f9fa;
        color: #333;
      }
      .container {
        margin-top: 50px;
        max-width: 800px;
      }
      .post-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #2c3e50;
      }
      .button-container {
        text-align: center;
      }
      .btn-primary,
      .btn-danger {
        width: 100%;
      }
      .list-group-item {
        background-color: #2c3e50;
        color: white;
        border: none;
        border-radius: 8px;
        margin-bottom: 10px;
        text-align: center;
      }
      .small-button {
        width: 200px;
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 8px !important;
      }
      .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.8);
      }
      .navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 1);
      }
    </style>
  </head>
  <body>
    <header
      class="u-align-center-xs u-clearfix u-header u-clearfix u-sheet u-sheet-1"
      id="sec-75b6"
    >
      <nav
        style="background-color: #2c3e50"
        class="navbar navbar-expand-lg navbar-dark"
      >
        <a href="/index">
          <img
            style="width: 263px; height: 40px; margin: 10px auto 0 0"
            class="u-image u-image-contain u-image-default u-image-1"
            src="./static/images/namelogo.png"
            alt
            data-image-width="757"
            data-image-height="114"
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link u-border-2 u-button-style u-nav-link u-radius u-text-grey-10"
                href="/dashboard"
                >{{ user.name }} {{ user.surname }}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10"
                href="/myPosts"
                type="submit"
                >Postlarım</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10"
                style="color: rgb(185, 36, 36) !important"
                href="/logout"
                type="submit"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="post-content">
        <h1 class="text-center">Oluşturulan Post</h1>
        <div>{{ post_content | safe }}</div>
        <button
          type="button"
          class="btn btn-primary mt-2"
          id="linkedinShareButton{{ event_id }}"
          data-postid="{{ event_id }}"
        >
          LinkedIn'de paylaş
        </button>
        <form
          id="linkedinShareForm{{ event_id }}"
          action="/shareLinkedin/{{ event_id }}"
          method="POST"
          style="display: none"
        ></form>
        <button
          type="button"
          class="btn btn-danger mt-2"
          id="deletePostButton{{ event_id }}"
          data-postid="{{ event_id }}"
        >
          Postu sil
        </button>
        <form
          id="deletePostForm{{ event_id }}"
          action="/deletePost/{{ event_id }}"
          method="POST"
          style="display: none"
        ></form>
      </div>

      <div class="button-container">
        <li class="list-group-item small-button">Günlük Hak: {{ user.daily_rights }}</li>
        <form action="/createEventFromIndex" method="post" class="d-inline-block">
          <button
            type="submit"
            class="btn btn-primary small-button"
            name="create_event_button2"
          >
            Yeniden Oluştur
          </button>
        </form>
      </div>
    </div>

    <!-- Pop-up Modal -->
    <div
      class="modal fade"
      id="confirmationModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="confirmationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">UYARI!</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="confirmationMessage">
            <!-- Confirmation message will be inserted here dynamically -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Hayır
            </button>
            <button type="button" class="btn btn-primary" id="confirmButton">
              Evet
            </button>
          </div>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info mt-3">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelectorAll("[id^=linkedinShareButton], [id^=deletePostButton]")
          .forEach((button) => {
            button.addEventListener("click", function (event) {
              event.stopPropagation();
              var postId = this.getAttribute("data-postid");
              var buttonID = this.getAttribute("id");
              var confirmationMessage;

              {% if linkedin_token %}
              if (buttonID.includes("linkedinShareButton")) {
                confirmationMessage =
                  "Seçilen gönderiyi paylaşmak istiyor musunuz?";
              } else if (buttonID.includes("deletePostButton")) {
                confirmationMessage =
                  "Seçilen postu silmek üzeresiniz, onaylıyor musunuz?";
              }
              {% else %}
              if (buttonID.includes("linkedinShareButton")) {
                confirmationMessage =
                  "Linkedin hesabınız bağlı değil bağlamak için 'Evet' butonuna basın.";
              } else if (buttonID.includes("deletePostButton")) {
                confirmationMessage =
                  "Seçilen postu silmek üzeresiniz, onaylıyor musunuz?";
              }
              {% endif %}

              $("#confirmationModal").modal("show");
              $("#confirmationMessage").text(confirmationMessage);
              $("#confirmButton").attr("data-postid", postId);
              $("#confirmButton").attr("data-button-id", buttonID);
            });
          });

        document
          .getElementById("confirmButton")
          .addEventListener("click", function () {
            var postId = this.getAttribute("data-postid");
            var buttonID = this.getAttribute("data-button-id");
            var formId;

            if (buttonID.includes("linkedinShareButton")) {
              {% if linkedin_token %}
              formId = "linkedinShareForm" + postId;
              document
                .getElementById(formId)
                .setAttribute("action", "/shareLinkedin/" + postId);
              {% else %}
              formId = "linkedinShareForm" + postId;
              document
                .getElementById(formId)
                .setAttribute("action", "/linkedinAuth");
              {% endif %}
            } else if (buttonID.includes("deletePostButton")) {
              formId = "deletePostForm" + postId;
              document
                .getElementById(formId)
                .setAttribute("action", "/deletePost/" + postId);
            }

            document.getElementById(formId).submit();
          });
      });
    </script>
  </body>
</html>
