<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" media="screen">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/welcome.css') }}" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link id="u-theme-google-font"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" />
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "EventoSphere"
    }
    </script>
    <meta name="theme-color" content="#89b2d8">
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="Giriş.html" data-home-page-title="Giriş"
    data-path-to-root="./" data-include-products="false"
    class="u-body u-overlap u-overlap-transparent u-xl-mode" data-lang="tr">
    <header class="u-align-center-xs u-clearfix u-header" id="sec-75b6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1"
          src="./static/images/namelogo.png" alt data-image-width="757"
          data-image-height="114">
        <nav class="u-align-right u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-weight: 700;">
            <a
              class="u-button-style u-custom-border-radius u-custom-left-right-menu-spacing u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-nav-link"
              href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use
                  xlink:href="#svg-cc5e"></use></svg>
              <svg class="u-svg-content" version="1.1" id="svg-cc5e"
                viewBox="0 0 16 16" x="0px" y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16"
                    height="2"></rect><rect y="7" width="16"
                    height="2"></rect><rect y="13" width="16"
                    height="2"></rect></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-29 u-unstyled u-nav-1"><li
                class="u-nav-item"><a
                  class="u-border-2 u-border-hover-custom-color-2 u-button-style u-nav-link u-radius u-text-grey-10"
                  href="/loginorsignup"
                  style="--radius: 10px; padding: 10px 14px;">Giriş Yap - Üye
                  Ol</a></li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li
                    class="u-nav-item"><a class="u-button-style u-nav-link"
                      href="/loginorsignup">Giriş Yap - Üye Ol</a></li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>

    <section class="u-clearfix u-image u-section-1" id="carousel_6500"
      data-image-width="1920" data-image-height="1080">
      <h1 style="text-align: center; position:absolute; margin: 300px auto auto 400px; color: whitesmoke; text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="0">Her Etkinliği Büyüleyici Kılın</h1>
      <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-sheet-1">
        <a onclick="smoothScroll('#intro_section')"
          class="u-border-hover-black u-border-none u-btn u-btn-round u-button-style u-custom-color-19 u-radius u-text-black u-text-hover-black u-btn-1">Planlamaya
          Başla&nbsp;<span class="u-file-icon u-icon u-icon-1"><img
              src="./static/images/271228.png" alt></span>
        </a>
      </div>
    </section>

    <section
      class="skrollable u-align-center u-clearfix u-image u-parallax u-shading u-section-2"
      src id="carousel_7179" data-image-width="1920" data-image-height="839"
      id="intro_section">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div
              class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-75 u-repeater-item u-shape-rectangle u-list-item-1"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500" data-animation-delay="500">
              <div
                class="u-container-layout u-similar-container u-container-layout-1">
                <h4
                  class="u-align-left u-hover-feature u-text u-text-1">Kullanıcı
                  Dostu Etkinlik Planlama</h4>
                <p
                  class="u-align-left u-hover-feature u-text u-text-2">Kullanıcı
                  dostu arayüzümüz sayesinde etkinliklerinizi kolayca planlayın
                  ve düzenleyin.</p>
                <a href="#"
                  class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-1"
                  data-animation-name="customAnimationIn"
                  data-animation-duration="1500" data-animation-delay="500"
                  data-animation-direction>Keşfet</a>
              </div>
            </div>
            <div
              class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-align-left u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-50 u-repeater-item u-shape-rectangle u-list-item-2"
              data-animation-name="customAnimationIn"
              data-animation-duration="1500" data-animation-delay="500">
              <div
                class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-align-left u-hover-feature u-text u-text-3">Yapay
                  Zeka Destekli Etkinlik Planlama</h4>
                <p class="u-align-left u-hover-feature u-text u-text-4">Yapay
                  zeka destekli araçlarımızla etkinlik detaylarını otomatik
                  olarak oluşturun.</p>
                <a href="#"
                  class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-2"
                  data-animation-name="customAnimationIn"
                  data-animation-duration="1500" data-animation-delay="500"
                  data-animation-direction>AI Özelliklerini Keşfet</a>
              </div>
            </div>
            <div
              class="u-align-center u-border-2 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-container-style u-custom-color-3 u-custom-item u-hover-feature u-list-item u-opacity u-opacity-75 u-repeater-item u-shape-rectangle u-list-item-3"
              data-animation-name="customAnimationIn"
              data-animation-duration="1000" data-animation-delay="0">
              <div
                class="u-container-layout u-similar-container u-container-layout-3">
                <h4
                  class="u-align-left u-hover-feature u-text u-text-5">LinkedIn
                  Entegrasyonu ile Paylaşım</h4>
                <p
                  class="u-align-left u-hover-feature u-text u-text-6">Etkinliklerinizi
                  doğrudan LinkedIn hesabınızdan paylaşarak daha geniş bir
                  kitleye ulaşın.</p>
                <a href="#"
                  class="u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-feature u-none u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-3"
                  data-animation-name="customAnimationIn"
                  data-animation-duration="1500" data-animation-delay="500"
                  data-animation-direction>Bağlantınızı Kurun</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="u-align-center u-clearfix u-container-align-center-sm u-container-align-center-xs u-container-align-left-xxl u-image u-shading u-section-4"
      id="carousel_2033" data-image-width="2940" data-image-height="1960">
      <div class="u-clearfix u-sheet u-valign-middle-xxl u-sheet-1">
        <h1 class="u-align-center u-text u-text-palette-3-base u-text-1"
          data-animation-name="customAnimationIn" data-animation-duration="1500"
          data-animation-delay="0">PAKET FİYATLANDIRMALARI</h1>
        <div
          class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-center u-black u-container-style u-layout-cell u-left-cell u-opacity u-opacity-45 u-size-30 u-layout-cell-1">
                <div
                  class="u-container-layout u-valign-top u-container-layout-1">
                  <div
                    class="u-align-center u-container-align-center-xs u-container-style u-custom-color-1 u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                    <div
                      class="u-container-layout u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                      <h5 class="u-align-center-xs u-text u-text-2">BASIC</h5>
                      <h2 class="u-align-center-xs u-text u-text-3"
                        style="font-size: 36px;">Ücretsiz</h2>
                    </div>
                  </div>
                  <p class="u-text u-text-4">5 Tam Etkinlik Planlama<br>2
                    Etkinlik
                    Paylaşımı
                  </p>
                </div>
              </div>
              <div
                class="u-align-center u-black u-container-style u-layout-cell u-opacity u-opacity-45 u-size-30 u-layout-cell-2">
                <div
                  class="u-container-layout u-valign-top u-container-layout-3">
                  <div
                    class="u-align-center u-container-align-center-xs u-container-style u-custom-color-3 u-expanded-width u-group u-group-2">
                    <div
                      class="u-container-layout u-valign-middle-xs u-container-layout-4">
                      <h5
                        class="u-align-center-xs u-text u-text-5">Advanced</h5>
                      <h2 class="u-align-center-xs u-text u-text-6"
                        style="font-size: 40px;">200 TL</h2>
                    </div>
                  </div>
                  <p class="u-text u-text-7"> 30 Tam Etkinlik Planlama<br>10
                    Etkinlik
                    Paylaşımı<br>Etkinliğinize özgü görsel tasarlatma
                  </p>
                  <a href="/payment"
                    class="u-border-2 u-border-custom-color-2 u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-1 u-radius u-btn-2"
                    target="_blank"> satın al </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-custom-color-11 u-footer u-footer"
      id="sec-9346"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© 2024
          EventoSphere. Tüm Hakları Saklıdır.</p>
      </div>
    </footer>

    <script>
       function smoothScroll(target) {
    var targetPosition = document.querySelector(target).offsetTop;
    var startPosition = window.pageYOffset;
    var distance = targetPosition - startPosition;
    var startTime = null;
    var duration = 1000; // animasyon süresi (milisaniye cinsinden)

    function animation(currentTime) {
      if (startTime === null) startTime = currentTime;
      var timeElapsed = currentTime - startTime;
      var run = ease(timeElapsed, startPosition, distance, duration);
      window.scrollTo(0, run);
      if (timeElapsed < duration) requestAnimationFrame(animation);
    }

    function ease(t, b, c, d) {
      t /= d / 2;
      if (t < 1) return c / 2 * t * t + b;
      t--;
      return -c / 2 * (t * (t - 2) - 1) + b;
    }

    requestAnimationFrame(animation);
  }
    </script>

  </body>
</html>
